{% extends "layout.html" %}

{% block title %}
Welcome
{% endblock %}

{% block style %}

{% endblock %}

{% block main %}
<div class="align-items-center">

    <h1 class="display-1 fw-bold text-light">ToDoify</h1>

    <p class="lead text-secondary mt-3">Organize smarter, Achieve more</p>
    <br>
    <div class="mx-3">
        <button type="button" class="btn btn-success btn-lg mx-2" disabled>Manage Time</button>
        <button type="button" class="btn btn-danger btn-lg mx-2" disabled>Add Tasks</button>
        <button type="button" class="btn btn-primary btn-lg mx-2" disabled>Stay Organized</button>
    </div>
    <a href="/login" class="btn btn-outline-primary btn-lg px-5 mt-4">Log in Now!</a>

    <p class="lead text-secondary mt-3 mt-5">Don't have an account?
        <a href="/sign-up" class="btn btn-outline-warning btn-sm">Sign Up</a>
    </p>


</div>
{% endblock %}
